In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter('ignore')


data = pd.read_csv('attacks.csv',encoding='latin-1')
data.shape

(25723, 24)

In [2]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [3]:
data.columns = ['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time',
       'Species', 'Investigator', 'pdf', 'href_formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed:22',
       'Unnamed:23']

In [4]:
data.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator', 'pdf', 'href_formula', 'href', 'Case Number.1',
       'Case Number.2', 'original order', 'Unnamed:22', 'Unnamed:23'],
      dtype='object')

In [5]:
data.isnull().sum()

Case_Number       17021
Date              19421
Year              19423
Type              19425
Country           19471
Area              19876
Location          19961
Activity          19965
Name              19631
Sex               19986
Age               22252
Injury            19449
Fatal             19960
Time              22775
Species           22259
Investigator      19438
pdf               19421
href_formula      19422
href              19421
Case Number.1     19421
Case Number.2     19421
original order    19414
Unnamed:22        25722
Unnamed:23        25721
dtype: int64

In [6]:
dataClean=data.drop_duplicates()
dataClean.shape

(6312, 24)

In [7]:
dataClean.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case Number.1,Case Number.2,original order,Unnamed:22,Unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [8]:
dataClean.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator', 'pdf', 'href_formula', 'href', 'Case Number.1',
       'Case Number.2', 'original order', 'Unnamed:22', 'Unnamed:23'],
      dtype='object')

In [9]:
null_cols = dataClean.isnull().sum()
null_cols[null_cols > 0]

Case_Number          2
Date                10
Year                12
Type                14
Country             60
Area               465
Location           550
Activity           554
Name               220
Sex                575
Age               2841
Injury              38
Fatal              549
Time              3364
Species           2848
Investigator        27
pdf                 10
href_formula        11
href                10
Case Number.1       10
Case Number.2       10
original order       3
Unnamed:22        6311
Unnamed:23        6310
dtype: int64

In [10]:
dataClean[['Area', 'Location']]= dataClean[['Area', 'Location']].fillna('UNKNOWN')
dataClean[['Area', 'Location']]

                  Area                        Location
0           California     Oceanside, San Diego County
1              Georgia  St. Simon Island, Glynn County
2               Hawaii                    Habush, Oahu
3      New South Wales              Arrawarra Headland
4               Colima                        La Ticla
...                ...                             ...
6307           UNKNOWN                         UNKNOWN
6308           UNKNOWN                         UNKNOWN
6309           UNKNOWN                         UNKNOWN
8702           UNKNOWN                         UNKNOWN
25722          UNKNOWN                         UNKNOWN

[6312 rows x 2 columns]

In [11]:
data.Country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [12]:
dataClean['Country'] = dataClean['Country'].astype('str')
dataClean['Country'] = dataClean['Country'].str.rstrip()
dataClean['Country'] = dataClean['Country'].str.lstrip()

In [13]:
dataClean['Country'] = dataClean['Country'].str.replace('?', '')
dataClean['Country'] = dataClean['Country'].str.replace('-', '')
dataClean['Country'] = dataClean['Country'].str.replace('ST HELENA, British overseas territory', 'ST HELENA')
dataClean['Country'] = dataClean['Country'].str.replace('Fiji', 'FIJI')
dataClean['Country'] = dataClean['Country'].str.replace('Sierra Leone', 'SIERRA LEONE')
dataClean['Country'] = dataClean['Country'].str.replace('Coast of AFRICA', 'AFRICA')

In [14]:
list(dataClean.Country.unique())

['USA',
 'AUSTRALIA',
 'MEXICO',
 'BRAZIL',
 'ENGLAND',
 'SOUTH AFRICA',
 'THAILAND',
 'COSTA RICA',
 'MALDIVES',
 'BAHAMAS',
 'NEW CALEDONIA',
 'ECUADOR',
 'MALAYSIA',
 'LIBYA',
 'nan',
 'CUBA',
 'MAURITIUS',
 'NEW ZEALAND',
 'SPAIN',
 'SAMOA',
 'SOLOMON ISLANDS',
 'JAPAN',
 'EGYPT',
 'ST HELENA',
 'COMOROS',
 'REUNION',
 'FRENCH POLYNESIA',
 'UNITED KINGDOM',
 'UNITED ARAB EMIRATES',
 'PHILIPPINES',
 'INDONESIA',
 'CHINA',
 'COLUMBIA',
 'CAPE VERDE',
 'FIJI',
 'DOMINICAN REPUBLIC',
 'CAYMAN ISLANDS',
 'ARUBA',
 'MOZAMBIQUE',
 'PUERTO RICO',
 'ITALY',
 'ATLANTIC OCEAN',
 'GREECE',
 'ST. MARTIN',
 'FRANCE',
 'PAPUA NEW GUINEA',
 'TRINIDAD & TOBAGO',
 'KIRIBATI',
 'ISRAEL',
 'DIEGO GARCIA',
 'TAIWAN',
 'JAMAICA',
 'PALESTINIAN TERRITORIES',
 'GUAM',
 'SEYCHELLES',
 'BELIZE',
 'NIGERIA',
 'TONGA',
 'SCOTLAND',
 'CANADA',
 'CROATIA',
 'SAUDI ARABIA',
 'CHILE',
 'ANTIGUA',
 'KENYA',
 'RUSSIA',
 'TURKS & CAICOS',
 'UNITED ARAB EMIRATES (UAE)',
 'AZORES',
 'SOUTH KOREA',
 'MALTA',
 'VIETNAM',
 'MADAGASCAR',
 'PANAMA',
 'SOMALIA',
 'NEVIS',
 'BRITISH VIRGIN ISLANDS',
 'NORWAY',
 'SENEGAL',
 'YEMEN',
 'GULF OF ADEN',
 'SIERRA LEONE',
 'ST. MAARTIN',
 'GRAND CAYMAN',
 'Seychelles',
 'LIBERIA',
 'VANUATU',
 'HONDURAS',
 'VENEZUELA',
 'SRI LANKA',
 'URUGUAY',
 'INDIA',
 'MICRONESIA',
 'CARIBBEAN SEA',
 'OKINAWA',
 'TANZANIA',
 'MARSHALL ISLANDS',
 'EGYPT / ISRAEL',
 'NORTHERN ARABIAN SEA',
 'HONG KONG',
 'EL SALVADOR',
 'ANGOLA',
 'BERMUDA',
 'MONTENEGRO',
 'IRAN',
 'TUNISIA',
 'NAMIBIA',
 'NORTH ATLANTIC OCEAN',
 'PORTUGAL',
 'SOUTH CHINA SEA',
 'BANGLADESH',
 'PALAU',
 'WESTERN SAMOA',
 'PACIFIC OCEAN',
 'BRITISH ISLES',
 'GRENADA',
 'IRAQ',
 'TURKEY',
 'SINGAPORE',
 'NEW BRITAIN',
 'SUDAN',
 'JOHNSTON ISLAND',
 'SOUTH PACIFIC OCEAN',
 'NEW GUINEA',
 'RED SEA',
 'NORTH PACIFIC OCEAN',
 'FEDERATED STATES OF MICRONESIA',
 'MID ATLANTIC OCEAN',
 'ADMIRALTY ISLANDS',
 'BRITISH WEST INDIES',
 'SOUTH ATLANTIC OCEAN',
 'PERSIAN GULF',
 'RED SEA / INDIAN OCEAN',
 'NORTH SEA',
 'NICARAGUA',
 'MALDIVE ISLANDS',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'GABON',
 'MAYOTTE',
 'THE BALKANS',
 'ARGENTINA',
 'MARTINIQUE',
 'INDIAN OCEAN',
 'GUATEMALA',
 'NETHERLANDS ANTILLES',
 'NORTHERN MARIANA ISLANDS',
 'IRAN / IRAQ',
 'JAVA',
 'CENTRAL PACIFIC',
 'SOLOMON ISLANDS / VANUATU',
 'SOUTHWEST PACIFIC OCEAN',
 'BAY OF BENGAL',
 'MIDPACIFC OCEAN',
 'SLOVENIA',
 'CURACAO',
 'ICELAND',
 'ITALY / CROATIA',
 'BARBADOS',
 'MONACO',
 'GUYANA',
 'HAITI',
 'SAN DOMINGO',
 'IRELAND',
 'KUWAIT',
 'REUNION ISLAND',
 'FALKLAND ISLANDS',
 'CRETE',
 'CYPRUS',
 'WEST INDIES',
 'BURMA',
 'LEBANON',
 'PARAGUAY',
 'BRITISH NEW GUINEA',
 'CEYLON',
 'OCEAN',
 'GEORGIA',
 'SYRIA',
 'TUVALU',
 'GUINEA',
 'ANDAMAN ISLANDS',
 'EQUATORIAL GUINEA / CAMEROON',
 'COOK ISLANDS',
 'TOBAGO',
 'PERU',
 'AFRICA',
 'ALGERIA',
 'TASMAN SEA',
 'GHANA',
 'GREENLAND',
 'MEDITERRANEAN SEA',
 'SWEDEN',
 'ROATAN',
 'Between PORTUGAL & INDIA',
 'DJIBOUTI',
 'BAHREIN',
 'KOREA',
 'ASIA',
 'CEYLON (SRI LANKA)']

In [15]:
dataClean.Country.value_counts()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
JAVA                   1
DIEGO GARCIA           1
ASIA                   1
MALDIVES               1
BRITISH ISLES          1
Name: Country, Length: 199, dtype: int64

In [16]:
data.Fatal.value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
y             1
N             1
2017          1
Name: Fatal, dtype: int64

In [17]:
data['Fatal'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [18]:
def clean(Fatal):
    if Fatal == 'N' or Fatal == 'Y':
        return Fatal
    else: return 'UNKNOWN'

In [19]:
dataClean['Fatal'] = dataClean['Fatal'].apply(clean)
dataClean['Fatal'].value_counts()

N          4293
Y          1388
UNKNOWN     631
Name: Fatal, dtype: int64

In [20]:
data.Sex.value_counts()

M      5094
F       637
N         2
M         2
lli       1
.         1
Name: Sex, dtype: int64

In [21]:
data['Sex'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [22]:
data['Sex'].isnull().sum()

19986

In [23]:
def clean(Sex):
    if Sex == 'M' or Sex == 'F':
        return Sex
    else: return 'UNKNOWN'

In [24]:
dataClean['Sex'] = dataClean['Sex'].apply(clean)
dataClean['Sex'].value_counts()

M          5094
F           637
UNKNOWN     581
Name: Sex, dtype: int64

In [25]:
data['Age'].value_counts()

17          154
18          150
19          142
20          141
15          139
           ...
32 & 30       1
82            1
31 or 33      1
              1
13 or 18      1
Name: Age, Length: 157, dtype: int64

In [26]:
data['Age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6Â½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2Â½', '13 or 14'], dtype=object)

In [27]:
def clean(age):
    try:
        age = int(age)
    except ValueError:
        age = 0
    if (age > 0 and age <= 100):
        return age
    else: return np.nan

In [28]:
dataClean['Age'] = dataClean['Age'].apply(clean)
dataClean['Age'].value_counts()

17.0    154
18.0    150
20.0    142
19.0    142
15.0    139
       ...
82.0      1
84.0      1
72.0      1
86.0      1
81.0      1
Name: Age, Length: 80, dtype: int64

In [29]:
dataClean['Age'].unique()

array([57., 11., 48., nan, 18., 52., 15., 12., 32., 10., 21., 34., 30.,
       60., 33., 29., 54., 41., 37., 56., 19., 25., 69., 38., 55., 35.,
       46., 45., 14., 28., 20., 24., 26., 49., 22.,  7., 31., 17., 40.,
       13., 42.,  3.,  8., 50., 16., 82., 73., 68., 51., 39., 58., 47.,
       61., 65., 36., 66., 43.,  9., 72., 59.,  6., 27., 64., 23., 71.,
       44., 62., 63., 70., 53., 77., 74.,  5., 86., 84., 75., 87., 67.,
        1., 81., 78.])

In [30]:
list(data['Species'].unique())

['White shark',
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'Nurse shark',
 'White shark, 3 m',
 'Shark involvement questionable',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 'A small shark',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 'Shark involvement highly doubtful',
 'No shark invovlement - it ws a publicity stunt',
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Invalid',
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 'No shark involvement',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'shark involvement not confirmed',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "Tiger shark, 13' female",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 'Questionable Incident',
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 'Shark involvement  not confirmed',
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'Shark involvement  questionable',
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',

In [31]:
data['Species'].value_counts()

White shark                                                                 163
Shark involvement prior to death was not confirmed                          105
Invalid                                                                     102
Shark involvement not confirmed                                              88
Tiger shark                                                                  73
                                                                           ...
Blue shark, 8 to 9 feet                                                       1
Bonita sharkk, 200-lb                                                         1
Said to be Âleopard sharksÂ, more probably tiger sharks                       1
White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment      1
Spinner shark, 4 to 5 feet                                                    1
Name: Species, Length: 1549, dtype: int64

In [32]:
def clean(x):
    if isinstance(x, str):
        x = x.lower()
        if 'blue' in x:
            return 'Blue Shark'
        if 'white' in x:
            return 'White Shark'
        elif 'tiger' in x:
            return 'Tiger Shark'
        elif 'blacktip' in x:
            return "Blacktip Shark"
        elif 'bull' in x:
            return 'Bull Shark'
        elif 'nurse' in x:
            return 'Nurse Shark'
        elif 'mako' in x:
            return 'Nurse Shark'
        elif 'Wobbegong' in x:
            return 'Wobbegong Shark'
    else: return 'UNKNOWN'
    
dataClean["Species"] = dataClean["Species"].apply(lambda x: clean(x))

In [33]:
dataClean['Species'].value_counts()

UNKNOWN           2848
White Shark        665
Tiger Shark        283
Bull Shark         178
Nurse Shark        151
Blacktip Shark     101
Blue Shark          58
Name: Species, dtype: int64

In [34]:
list(data.Activity.unique())

['Paddling',
 'Standing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Feeding sharks',
 'Boogie boarding',
 'Scuba diving',
 'Paddle-skiing',
 'Body boarding',
 'Windsurfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Cleaning fish',
 'Snorkeling',
 'Spearfishing',
 nan,
 'Diving',
 'Fishing / Wading',
 '2 boats capsized',
 'Night bathing',
 'Surfing ',
 'Kayaking / Fishing',
 'Kayaking',
 'Body surfing',
 'Swimming, poaching abalone',
 'Canoeing',
 'SUP',
 'Skimboarding',
 'Touching a shark',
 'Fishing ',
 'Attempting to lasso a shark',
 'Photo shoot',
 'Paddle boarding',
 'Kakaying',
 'Washing hands',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Surf skiing ',
 'Surf fishing',
 'Floating',
 'Cage Diving',
 'Surfng',
 'SUP Foil boarding',
 'Lobstering',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Fishing for squid',
 'Fishing for sharks',
 'Floating in tube',
 'Teasing a shark',
 'Surf-skiing',
 'Diving for beche-de-mer',
 'Feeding stingrays?',
 'Kayak Fishing',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Fishing for shrimp',
 'Photographing fish',
 'Scallop diving on hookah',
 'Treading water',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Playing',
 'Attempting to rescue a shark',
 'Photographing the shark',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Filming',
 'Swimming after falling overboard',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking ',
 'Feeding fish',
 'Playing with an air mattress',
 'Kite boarding',
 'Shark diving',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Kiteboarding',
 'Diving for crayfish',
 'Diving ',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Boogie Boarding',
 'Playing in the surf',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Dragging stranded shark into deeper water',
 'Bathing',
 'Bodyboarding',
 'Swimming or boogie boarding',
 'Wading or swimming',
 'Free diving ',
 'Attempting to rescue an injured & beached shark',
 'Free diving / spearfishing',
 'Crayfishing',
 'Diving, feeding sharks',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Diving, photographing sharks',
 'Wade fishing',
 'Jumping in the waves',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Floating ',
 'Swimming or Snorkeling',
 'Kayaking or Wave skiing',
 'Jet skiing',
 'Standing or boogie boardin',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Wakeboarding',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Shark fishing on the Don AgustÃ­n-VI. ',
 'Attempting to fix motor',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Rescuing',
 'Measuring sharks',
 'Swimming / treading water',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Paddle-boarding',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Washing his feet',
 'Paddle-surfing',
 'Crawling',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Crabbing',
 'Yacht race',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Swimming, towing surfboard',
 'Swimming or surfing',
 'Rowing an inflatable dinghy',
 'Sea Disaster',
 'Night diving',
 'Free-diving',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Removing fish from a trap',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Wading?',
 'Jumping',
 'Floating near boat & observing bioluminesce',
 'Jumped into the water',
 'Surf paddling',
 'Murder',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Playing on a sandbar',
 'Shrimping',
 'Swimming / Body Surfing',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Lifesaving drill',
 'Touching sharks',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Standing / Surfing',
 'Treading water/ Surfing',
 'Removing shark from net',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Spearfishing/ filming',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Standing, stepped on shark',
 'Wade-fishing',
 'Swimming, wearing black wetsuit & swim fins',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Unknown',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Body-boarding',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Kite-Boarding',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Walking in shallows',
 'Fell off banana boat',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Spearfishing, carrying his catch',
 'Standing alongside surfboard',
 'Batin',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Swimming back from anchored sailboat',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Shipwrecked',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Cruising',
 'Paddle Skiing',
 'Inflatable boat',
 'Splashing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Swimming / surfing',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Fishingat',
 'Walking / surfing',
 'SCUBA diving',
 'Floating on raft',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Rowing ',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Surfing / Swimming',
 'Free diving with a pod of dolphins',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Playing / standing',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Scuba diving for bivalves',
 'Wind surfing',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Stamding',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Paddling on surfboard or body board',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 '   ',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving (submerged)',
 'Hookah diving for sea urchins',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 'Fisherman',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Diving for pen shells',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Swimming behind sailboat',
 'Surfing, collided with shark',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Scuba diving & spearfishing',
 'Board sailing',
 "On board 51' fishing vessel One Ki",
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Playing ',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Scuba diving, but swimming on surface',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Skindiving',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pÃªcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Standing ',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Boat',
 'Adrift after ditching plane in the sea',
 'Free diving  & spearfishing (submerged)',
 'NSB Meshing',
 'Racing ski',
 'Fishing, fell from rocks & disappeared',
 'Hookah diving for abalone',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Bottom fishing for lingcod & had hooked a fish',
 'Playing in knee-deep water',
 'Surfing, but lying prone on his board',
 'Free diving for scallops',
 'Scuba Diving for lobster (at surface)',
 'Investigating shark sighting',
 'Sailing on catamaran & fell into the water',
 'Surfing or body surfing',
 'Free diving , but surfacing',
 'Boat capsized?',
 'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Towing her sister on plastic ski board',
 'Steinhart Aquarium',
 'Scuba diving for abalone',
 'Ferry boat sank',
 'Swimming from the New Venture ',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Floating on air mattress',
 'Surfing & dangling foot in water amid baitfish',
 'Water-skiing',
 'Paddleskiing',
 'Ran into the water',
 'In waist-deep water',
 'Free diving for abalone from Zodiac (submerged)',
 'Paddle Boarding',
 'Spearfishing ',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Fishing on a boat',
 'Spearfishing, but swimming on surface',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 "Diving to untangle a crab trap line from boat's propeller",
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Snorkeling on surface',
 'Catching sardines',
 'Scuba diving, reportedly also spearfishing',
 'Foundering of the Israeli freighter Mezada',
 'Standing / Wading',
 'Free diving Spearfishing',
 'Exercising his dog in the shallows',
 'Commercial spearfishing',
 'Free diving / spearfishing, ',
 'Diving in tuna net',
 'Resting on body board',
 'Skin diving',
 'Sinking of the ferryboat Don Juan',
 'Sinking of the ferryboat Bongbong 1',
 'Hookah Diving',
 'Gaffing netted shark',
 'Freedom swimming',
 'Murdered by Thai pirates',
 'Floating with life preserver after his boat foundered',
 'Floating on inner tube raft',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Fishing for mackerel',
 'Swimming, after single-engine aircraft went down in the sea',
 'Fishing for bottom fish',
 'Floating on an inflatable raft',
 'Free diving for abalone (surfacing)',
 "40' fishing boat sank",
 'Spearfishing / Scuba diving',
 'Collecting fish from net',
 'Fishing for yellowtail',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Hookah diving for abalone (submerged)',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Fishing for white shark',
 'Shipwreck',
 'Skindiving,',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Surfing, fell off surfboard',
 "Sitting in bow of her father's 5 m boat",
 'Competing in a light tackle game fishing',
 'Fishing for snoek & yellowtail',
 'Spearfishing / scuba diving',
 'Attempting to drive shark away from the beach',
 'Filming & feeding captive sharks',
 'Floating on a small orange raft ',
 'Scuba diving for abalone (at surface)',
 'Swimming near his boat',
 'Spearfishing Competition',
 'Floating in inner tube',
 'Diving & force-feeding the shark',
 'Attempting to drag hooked shark ashore by its tail',
 'Ferry capsized',
 'Swimming underwater from crayfish cage to a fishing bait',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Freedom Swimming',
 'Free diving for abalone (submerged)',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Free diving (but on surface)',
 'Fishing boat swamped in a storm',
 'Fishing for kob',
 'Fishing for red fish',
 'Sitting',
 'Swimming alongside yacht Mexico Fiesta',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Free diving, Spearfishing',
 'Crabbing (spearing crabs)',
 'Fishing from paddleski',
 'Scuba diving & U/W photography',
 'Sitting in shallows',
 'Free diving, collecting shells',
 'Scuba diving & feeding fish',
 'Hookah diving (submerged)',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',
 'Fishing for prawns',
 'Sea Disaster Sinking of ferryboat Christina',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Freediving',
 'Air disaster',
 'Attempted to return injured shark to the sea',
 'Spearfishing / freediving',
 'Washing cooking pans',
 'Washing clothes on stairs',
 'Fishing, trying to catch the end of his fishing line',
 'Scuba diving for lobsters',
 'Freediving for abalone (at surface)',
 'Surf-fishing',
 'Netting pilchards',
 'Hard hat diving',
 'Sight-seeing',
 'Feeding mullet to sharks',
 'Wreck of the Storm King',
 'Spearfishing using Scuba',
 'Sinking of the ferryboat Dumaguete ',
 'Playing with a frisbee in the shallows',
 'Leaving the water',
 'Dynamite fishing',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Clamming',
 'Schooner sank during a storm',
 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
 'Wading & pushing dinghy toward  the shallows',
 'Picking up shark by the tail',
 'Swimming after his canoe capsized',
 'Sinking of the M/V Mindoro during a typhoon',
 'Standing on sandbar',
 "Boat capsized between O'ahu & Molokai",
 'Pulling shark from the water',
 'Spearfishing on Scuba',

In [35]:
data.Activity.value_counts().head(10)

Surfing         971
Swimming        869
Fishing         431
Spearfishing    333
Bathing         162
Wading          149
Diving          127
Standing         99
Snorkeling       89
Scuba diving     76
Name: Activity, dtype: int64

In [36]:
def clean(x):
    if isinstance(x, str):
        x = x.lower()
        if 'surfing' in x:
            return "Surfing"
        elif 'swimming' in x:
            return "Swimming"
        elif 'fishing' in x:
            return "Fishing"
        elif 'spearfishing' in x:
            return "Spearfishing"
        elif 'bathing' in x:
            return "Bathing"
        elif 'wading' in x:
            return "Wading"
        elif 'diving' in x:
            return "Diving"
        elif 'standing' in x:
            return "Standing"
    else: return "UNKNOWN"
       
dataClean["Activity"] = dataClean["Activity"].apply(lambda x: clean(x))

In [37]:
dataClean.Activity.value_counts().head(10)

Fishing     1161
Surfing     1127
Swimming    1110
UNKNOWN      554
Diving       528
Bathing      190
Wading       165
Standing     131
Name: Activity, dtype: int64

In [38]:
list(data.Date.unique())

['25-Jun-2018',
 '18-Jun-2018',
 '09-Jun-2018',
 '08-Jun-2018',
 '04-Jun-2018',
 '03-Jun-2018',
 '27-May-2018',
 '26-May-2018',
 '24-May-2018',
 '21-May-2018',
 '13-May-2018',
 'May 2018',
 '12-May-2018',
 '09-May-2018',
 'Reported 30-Apr-2018',
 '28-Apr-2018',
 '25-Apr-2018',
 '24-Apr-2018',
 '23-Apr-2018',
 '22-Apr-2018',
 '19-Apr-2018',
 '15-Apr-2018',
 '14-Apr-2018',
 'Reported 10-Apr-2018',
 '09-Apr-2018',
 '05-Apr-2018',
 '03-Apr-2018',
 '31-Mar-2018',
 '14-Mar-2018',
 '9-Mar-2018',
 '24-Feb-2018',
 '23-Feb-2018',
 '18-Feb-2018',
 '15-Feb-2018',
 '14-Feb-2018',
 '11-Feb-2018',
 '03-Feb-2018',
 '01-Feb-2018',
 '28-Jan-2018',
 '21-Jan-2018',
 '14-Jan-2018',
 '13-Jan-2018',
 '12-Jan-2018',
 '05-Jan-2018',
 '31-Dec-2017',
 '30-Dec-2017',
 '21-Dec-2017',
 '09-Dec-2017',
 '30-Nov-2017',
 'Reported 25-Nov-2017',
 '24-Nov-2017',
 '18-Nov-2017',
 'Reported 13-Nov-2017',
 '13-Nov-2017',
 '04-Nov-2017',
 'Reported 31-Oct-2017',
 '28-Oct-2017',
 '26-Oct-2017',
 '23-Oct-2017',
 '22-Oct-2017',
 '21-Oct-2017',
 '18-Oct-2017',
 '09-Oct-2017',
 '05-Oct-2017',
 '01-Oct-2017',
 '25-Sep-2017',
 '24-Sep-2017',
 '20-Sep-2017',
 '16-Sep-2017',
 '15-Sep-2017',
 'Sep-2017',
 '13-Sep-2017',
 '10-Sep-2017',
 'Reported 06-Sep-2017',
 '03-Sep-2017',
 '02-Sep-2017',
 '29-Aug-2017',
 '27-Aug-2017',
 '26-Aug-2017',
 '23-Aug-2017',
 '18-Aug-2017',
 '10-Aug-2017',
 '05-Aug-2017',
 '03-Aug-2017',
 '01-Aug-2017',
 '31-Jul-2017',
 '29-Jul-2017',
 '27-Jul-2017',
 'Reported 26-Jul-2017',
 '24-Jul-2017',
 '23-Jul-2017',
 '22-Jul-2017',
 '20-Jul-2017',
 '14-Jul-2017',
 '11-Jul-2017',
 '09-Jul-2017',
 'Reported 07-Jul-2017',
 '07-Jul-2017',
 '02-Jul-2017',
 '29-Jun-2017',
 '21-Jun-2017',
 '19-Jun-2017',
 '18-Jun-2017',
 '17-Jun-2017',
 '2017.06.05',
 'Reported 14-Jun-2017',
 '11-Jun-2017',
 '10-Jun-2017',
 'Reported 07-Jun-2017',
 '04-Jun-2017',
 '02-Jun-2017',
 '30-May-2017',
 '28-May-2017',
 '27-May-2017',
 '12-May-2017',
 'Reported 06-May-2017',
 '05-May-2017',
 '03-May-2017',
 '29-Apr-2017',
 '27-Apr-2017',
 '26-Apr-2017',
 '22-Apr-2017',
 '20-Apr-2017',
 '17-Apr-2017',
 '14-Apr-2017',
 '13-Apr-2017',
 '12-Apr-2017',
 '11-Apr-2017',
 '10-Apr-2017',
 '06-Apr-2017',
 '05-Apr-2017',
 '02-Apr-2017',
 '27-Mar-2017',
 '19-Mar-2017',
 '18-Mar-2017',
 '11-Mar-2017',
 'Reported 09-Mar-2017',
 '25-Feb-2017',
 '24-Feb-2017',
 '21-Feb-2017',
 '17-Feb-2017',
 '11-Feb-2017',
 '06-Feb-2017',
 '01-Feb-2017',
 '24-Jan-2017',
 '22-Jan-2017',
 '21-Jan-2017',
 '13-Jan-2017',
 '09-Jan-2017',
 'Reported 08-Jan-2017',
 '05-Jan-2017',
 '03-Jan-2017',
 '27-Dec-2016',
 '24-Dec-2016',
 '19-Dec-2016',
 '14-Dec-2016',
 '11-Dec-2016',
 '06-Dec-2016',
 '01-Dec-2016',
 '28-Nov-2016',
 '14-Nov-2016',
 '30-Oct-2016',
 '29-Oct-2016',
 '24-Oct-2016',
 '21-Oct-2016',
 '15-Oct-2016',
 '14-Oct-2016',
 '13-Oct-2016',
 '12-Oct-2016',
 '10-Oct-2016',
 '02-Oct-2016',
 '01-Oct-2016',
 '26-Sep-2016',
 '18-Sep-2016',
 '17-Sep-2016',
 '16-Sep-2016',
 '15-Sep-2016',
 '11-Sep-2016',
 '07-Sep-2016',
 '06-Sep-2016',
 '05-Sep-2016',
 '04-Sep-2016',
 '01-Sep-2016',
 'Sep-2016',
 '29-Aug-2016',
 '27-Aug-2016',
 '25-Aug-2016',
 '07-Aug-2016',
 '06-Aug-2016',
 '04-Aug-2016',
 '29-Jul-2016',
 '28-Jul-2016',
 '27-Jul-2016',
 '26-Jul-2016',
 '24-Jul-2016',
 '23-Jul-2016',
 '20-Jul-2016',
 '17-Jul-2016',
 '16-Jul-2016',
 '15-Jul-2016',
 'Reported  14-Jul-2016',
 'Reported 08-Jul-2016',
 '08-Jul-2016',
 '07-Jul-2016',
 '06-Jul-2016',
 '04-Jul-2016',
 '27-Jun-2016',
 '25-Jun-2016',
 '24-Jun-2016',
 '23-Jun-2016',
 '21-Jun-2016',
 '15-Jun-2016',
 '14-Jun-2016',
 '11-Jun-2016',
 '07-Jun-2016',
 '05-Jun-2016',
 '04-Jun-2016',
 '02-Jun-2016',
 '31-May-2016',
 '29-May-2016',
 '22-May-2016',
 '21-May-2016',
 '18-May-2016',
 '15-May-2016',
 '03-May-2016',
 '02-May-2016',
 '25-Apr-2016',
 '23-Apr-2016',
 '22-Apr-2016',
 '19-Apr-2016',
 '18-Apr-2016',
 '13-Apr-2016',
 '09-Apr-2016',
 '08-Apr-2016',
 '07-Apr-2016',
 '31-Mar-2016',
 '30-Mar-2016',
 '28-Mar-2016',
 '26-Mar-2016',
 '13-Mar-2016',
 '11-Mar-2016',
 '10-Mar-2016',
 '04-Mar-2016',
 'Reported 03-Mar-2016',
 '02-Mar-2016',
 '22-Feb-2016',
 ' 19-Feb-2016',
 '12-Feb-2016',
 'Reported 10-Feb-2016',
 '10-Feb-2016',
 '05-Feb-2016',
 '04-Feb-2016',
 '02-Feb-2016',
 '29-Jan-2016',
 '28-Jan-2016',
 '25-Jan-2016',
 '24-Jan-2016',
 '23-Jan-2016',
 'Reported 11-Jan-2016',
 '05-Jan-2016',
 '02-Jan-2016',
 '26-Dec-2015',
 '25-Dec-2015',
 '22-Dec-2015',
 '21-Dec-2015',
 '19-Dec-2015',
 '13-Dec-2015',
 '11-Dec-2015',
 '08-Dec-2015',
 '20-Nov-2015',
 '16-Nov-2015',
 '15-Nov-2015',
 '10-Nov-2015',
 '07-Nov-2015',
 '03-Nov-2015',
 '01-Nov-2015',
 '30-Oct-2015',
 '28-Oct-2015',
 '25-Oct-2015',
 '21-Oct-2015',
 '19-Oct-2015',
 '17-Oct-2015',
 '13-Oct-2015',
 '09-Oct-2015',
 '08-Oct-2015',
 '07-Oct-2015',
 '05-Oct-2015',
 '04-Oct-2015',
 '29-Sep-2015',
 '26-Sep-2015',
 '24-Sep-2015',
 '20-Sep-2015',
 '19-Sep-2015',
 '18-Sep-2015',
 '17-Sep-2015',
 '08-Sep-2015',
 '06-Sep-2015',
 '05-Sep-2015',
 '04-Sep-2015',
 '03-Sep-2015',
 '01-Sep-2015',
 'Sep-2015',
 '29-Aug-2015',
 '22-Aug-2015',
 '20-Aug-2015',
 '19-Aug-2015',
 '18-Aug-2015',
 '10-Aug-2015',
 '31-Jul-2015',
 '28-Jul-2015',
 '27-Jul-2015',
 '26-Jul-2015',
 '25-Jul-2015',
 '23-Jul-2015',
 '22-Jul-2015',
 '19-Jul-2015',
 '10-Jul-2015',
 '08-Jul-2015',
 '06-Jul-2015',
 '04-Jul-2015',
 '03-Jul-2015',
 '02-Jul-2015',
 '01-Jul-2015',
 '30-Jun-2015',
 '27-Jun-2015',
 '26-Jun-2015',
 'Reported 25-Jun-2015',
 '25-Jun-2015',
 '24-Jun-2015',
 '23-Jun-2015',
 '19-Jun-2015',
 '17-Jun-2015',
 '14-Jun-2015',
 '13-Jun-2015',
 '11-Jun-2015',
 '07-Jun-2015',
 '05-Jun-2015',
 '01-Jun-2015',
 '29-May-2015',
 '25-May-2015',
 '24-May-2015',
 '20-May2015',
 '15-May-2015',
 '09-May-2015',
 '07-May-2015',
 '03-May-2015',
 '02-May-2015',
 '29-Apr-2015',
 '26-Apr-2015',
 '25-Apr-2015',
 '13-Apr-2015',
 '12-Apr-2015',
 '11-Apr-2015',
 '03-Apr-2015',
 '29-Mar-2015',
 '31-Mar-2015',
 '26-Mar-2015',
 '21-Mar-2015',
 '18-Mar-2015',
 '16-Mar-2015',
 '11-Mar-2015',
 '10-Mar-2015',
 '07-Mar-2015',
 '15-Feb-2015',
 '14-Feb-2015',
 '09-Feb-2015',
 '08-Feb-2015',
 '05-Feb-2015',
 '30-Jan-2015',
 '27-Jan-2015',
 '24-Jan-2015',
 '23-Jan-2015',
 '19-Jan-2015',
 '17-Jan-2015',
 '16-Jan-2015',
 '08-Jan-2015',
 '06-Jan-2015',
 '03-Jan-2015',
 '01-Jan-2015',
 '29-Dec-2014',
 '28-Dec-2014',
 'Reported 23-Dec-2014',
 '15-Dec-2014',
 'Reported 03-Dec-2014',
 '29-Nov-2014',
 '20-Nov-2014',
 '19-Nov-2014',
 'Reported 17-Nov-2014',
 '16-Nov-2014',
 '13-Nov-2014',
 '10-Nov-2014',
 '08-Nov-2014',
 '31-Oct-2014',
 '29-Oct-2014',
 '22-Oct-2014',
 '20-Oct-2014',
 '19-Oct-2014',
 '18-Oct-2014',
 '17-Oct-2014',
 '14-Oct-2014',
 '12-Oct-2014',
 '11-Oct-2014',
 '05-Oct-2014',
 '07-Oct-2014',
 '03-Oct-2014',
 '02-Oct-2014',
 '21-Sep-2014',
 'Reported 12-Sep-2014',
 '13-Sep-2014',
 '09-Sep-2014',
 '06-Sep-2014',
 '03-Sep-2014',
 '02-Sep-2014',
 'Sep-2014',
 '31-Aug-2014',
 '29-Aug-2014',
 '28-Aug-2014',
 '27-Aug-2014',
 'Reported 25-Aug-2014',
 '24-Aug-2014',
 '16-Aug-2014',
 '12-Aug-2014',
 '10-Aug-2014',
 '09-Aug-2014',
 '08-Aug-2014',
 '06-Aug-2014',
 '05-Aug-2014',
 '02-Aug-2014',
 '01-Aug-2014',
 'Aug-2014',
 '27-Jul-2014',
 '22-Jul-2014',
 '21-Jul-2014',
 '20-Jul-2014',
 '16-Jul-2014',
 '14-Jul-2014',
 '13-Jul-2014',
 '12-Jul-2014',
 '9-Jul-2014',
 '5-Jul-2014',
 '3-Jul-2014',
 'Reported 27-Jun-2014',
 '25-Jun-2014',
 '18-Jun-2014',
 'Reported 17-Jun-2014',
 '09-Jun-2014',
 '08-Jun-2014',
 '07-Jun-2014',
 '01-Jun-2014',
 '24-May-2014',
 '23-May-2014',
 '22-May-2014',
 '15-May-2014',
 '14-May-2014',
 '13-May2014',
 '11-May-2014',
 'Reported 10-May-2014',
 '06-May-2014',
 '04-May-2014',
 '01-May-2014',
 '24-Apr-2014',
 '22-Apr-2014',
 '15-Apr-2014',
 'Reported 12-Apr-2014',
 '12-Apr-2014',
 '04-Apr-2014',
 '03-Apr-2014',
 '29-Mar-2014',
 '22-Mar-2014',
 '21-Mar-2014',
 '18-Mar-2014',
 '12-Mar-2014',
 '13-Mar-2014',
 '02-Mar-2014',
 '20-Feb-2014',
 'Reported 17-Feb-2014',
 '08-Feb-2014',
 '07-Feb-2014',
 '26-Jan-2014',
 '25-Jan-2014',
 '04-Jan-2014',
 '2014',
 '25-Dec-2013',
 '16-Dec-2013',
 '13-Dec-2013',
 '11-Dec-2013',
 '10-Dec-2013',
 '05-Dec-2013',
 '02-Dec-2013',
 '30-Nov-2013',
 '29-Nov2013',
 '23-Nov-2013',
 '22-Nov-2013',
 '12-Nov-2013',
 '10-Nov-2013',
 '07-Nov-2013',
 '31-Oct-2013',
 '28-Oct-2013',
 '26-Oct-2013',
 '24-Oct-2013',
 '23-Oct-2013',
 '20-Oct-2013',
 '19-Oct-2013',
 '11-Oct-2013',
 '08-Oct-2013',
 '06-Oct-2013',
 '10-Oct-2013',
 '29-Sep-2013',
 ' 25-Sep-2013',
 ' 21-Sep-2013',
 ' 14-Sep-2013',
 ' 12-Sep-2013',
 '08-Sep-2013',
 ' 07-Sep-2013',
 ' 02-Sep-2013',
 ' 01-Sep-2013',
 '31-Aug-2013',
 '29-Aug-2013',
 '26-Aug-2013',
 ' 25-Aug-2013',
 ' 18-Aug-2013',
 '17-Aug-2013',
 ' 14-Aug-2013',
 ' 13-Aug-2013',
 '11-Aug-2013',
 'Reported 08-Aug-2013',
 ' 05-Aug-2013',
 '  31-Jul-2013',
 '  30-Jul-2013',
 '28-Jul-2013',
 '  29-Jul-2013',
 '    22-Jul-2013',
 '19-Jul-2013',
 'Reported 17-Jul-2013',
 '15-Jul-2013',
 '14-Jul-2013',
 '11-Jul-2013',
 '07-Jul-2013',
 '02-Jul-2013',
 '30-Jun-2013',
 '27-Jun-2013',
 '25-Jun-2013',
 '18-Jun-2013',
 '17-Jun-2013',
 '16-Jun-2013',
 '15-Jun-2013',
 'Reported 14-Jun-2013',
 '06-Jun-2013',
 '27-May-2013',
 '23-May-2013',
 '08-May-2013',
 '04-May-2013',
 '28-Apr-2013',
 '24-Apr-2013',
 '21-Apr-2013',
 '17-Apr-2013',
 '14-Apr-2013',
 '13-Apr-2013',
 '10-Apr-2013',
 '04-Apr-2013',
 'Reported 02-Apr-2013',
 '02-Apr-2013',
 '31-Mar-2013',
 '29-Mar-2013',
 'Reported 21-Mar-2013',
 '21-Mar-2013',
 '16-Mar-2013',
 '12-Mar-2013',
 '10-Mar-2013',
 '03-Mar-2013',
 '27-Feb-2013',
 '21-Feb-2013',
 '10-Feb-2013',
 '09-Feb-2013',
 '01-Feb-2013',
 '26-Jan-2013',
 '25-Jan-2013',
 'Reported 21-Jan-2013',
 '16-Jan-2013',
 '13-Jan-2013',
 '05-Jan-2013',
 '31-Dec-2012',
 '30-Dec-2012',
 '28-Dec-2012',
 '25-Dec-2012',
 '19-Dec-2012',
 '05-Dec-2012',
 '02-Dec-2012',
 'December 2012',
 '30-Nov-2012',
 '27-Nov-2012',
 '22-Nov-2012',
 '19-Nov-2012',
 '04-Nov-2012',
 '30-Oct-2012',
 '27-Oct-2012',
 '23-Oct-2012',
 '19-Oct-2012',
 '18-Oct-2012',
 '16-Oct-2012',
 'Reported 11-Oct-2012',
 '10-Oct-2012',
 '02-Oct-2012',
 '25-Sep-2012',
 '24-Sep-2012',
 '16-Sep-2012',
 '10-Sep-2012',
 '09-Sep-2012',
 '08-Sep-2012',
 '06-Sep-2012',
 '04-Sep-2012',
 '02-Sep-2012',
 '31-Aug-2012',
 '28-Aug-2012',
 '26-Aug-2012',
 '15-Aug-2012',
 '11-Aug-2012',
 '08-Aug-2012',
 '06-Aug-2012',
 '04-Aug-2012',
 '31-Jul-2012',
 '30-Jul-2012',
 '24-Jul-2012',
 '23-Jul-2012',
 '21-Jul-2012',
 '19-Jul-2012',
 '14-Jul-2012',
 '08-Jul-2012',
 '07-July-2012',
 '07-Jul-2012',
 '06-Jul-2012',
 'Reported 28-Jun-2012',
 '26-Jun-2012',
 '22-Jun-2012',
 '20-Jun-2012',
 '19-Jun-2012',
 '18-Jun-2012',
 '15-Jun-2012',
 '14-Jun-2012',
 '12-Jun-2012',
 '10-Jun-2012',
 '03-Jun-2012',
 '02-Jun-2012',
 '31-May-2012',
 '29-May-2012',
 '23-May-2012',
 '20-May-2012',
 '16-May-2012',
 '12-May-2012',
 '09-May-2012',
 '06-May-2012',
 '19-Apr-2012',
 '11-Apr-2012',
 '03-Apr-2012',
 'Apr-2013',
 '31-Mar-2012',
 '24-Mar-2012',
 '22-Mar-2012',
 '20-Mar-2012',
 '15-Mar-2012',
 '14-Mar-2012',
 '06-Mar-2012',
 '05-Mar-2012',
 '04-Mar-2012',
 '03-Mar-2012',
 '01-Mar-2012',
 '26-Feb-2012',
 '25-Feb-2012',
 '20-Feb-2012',
 '06-Feb-2012',
 '27-Jan-2012',
 '19-Jan-2012',
 'Reported 22-Jan-2012',
 '18-Jan-2012',
 '15-Jan-2012',
 '13-Jan-2012',
 '03-Jan-2012',
 '02-Jan-2012',
 '31-Dec-2011',
 'Reported 26-Dec-2011',
 '25-Dec-2011',
 '23-Dec-2011',
 '21-Dec-2011',
 '11-Dec-2011',
 '07-Dec-2011',
 '06-Dec-2011',
 '05-Dec-2011',
 '02-Dec-2011',
 '29-Nov-2011',
 '28-Nov-2011',
 '22-Nov-2011',
 'Reported 20-Nov-2011',
 '12-Nov-2011',
 '11-Nov-2011',
 '  29-Oct-2011',
 'Reported 28-Oct-2011',
 '22-Oct-2011',
 '20-Oct-2011',
 '19-Oct-2011',
 '11-Oct-2011',
 '10-Oct-2011',
 '09-Oct-2011',
 '05-Oct-2011',
 '02-Oct-2011',
 '01-Oct-2011',
 '30-Sep-2011',
 '28-Sep-2011',
 '24-Sep-2011',
 '20-Sep-2011',
 '19-Sep-2011',
 '17-Sep-2011',
 '16-Sep-2011',
 '11-Sep-2011',
 '04-Sep-2011',
 '02-Sep-2011',
 '31-Aug-2011',
 '28-Aug-2011',
 '26-Aug-2011',
 '24-Aug-2011 ',
 '23-Aug-2011',
 '18-Aug-2011',
 '17-Aug-2011',
 '16-Aug-2011',
 '16-Aug--2011',
 '15-Aug-2011',
 '11-Aug--2011',
 '01-Aug-2011',
 '31-Jul-2011',
 '30-Jul-2011',
 '25-Jul-2011',
 '22-Jul-2011',
 '19-Jul-2011',
 '15-Jul-2011',
 '13-Jul-2011',
 '07-Jul-2011',
 '06-Jul-2011',
 '05-Jul-2011',
 '30-Jun-2011',
 '29-Jun-2011',
 '28-Jun-2011',
 '26-Jun-2008',
 '24-Jun-2011',
 '21-Jun-2011',
 '19-Jun-2011',
 '15-Jun-2011',
 'Reported 14-Jun-2011',
 '12-Jun-2011',
 'Reported 06-Jun-2011',
 '06-Jun-2011',
 '01-Jun-2011',
 '30-May-2011',
 '29-May-2011',
 '25-May-2011',
 '22-May-2011',
 '21-May-2011',
 '13-May-2011',
 '10-May-2011',
 'Reported 07-May-2011',
 '04-May-2011',
 '26-Apr-2011',
 '23-Apr-2011',
 '22-Apr-2011',
 '16-Apr-2011',
 '13-Apr-2011',
 '08-Apr-2011',
 'Reported 29-Mar-2011',
 '24-Mar-2011',
 '23-Mar-2011',
 '21-Mar-2011',
 '16-Mar-2011',
 'Reported 10-Mar-2010',
 '10-Mar-2011',
 'Reported 28-Feb-2011',
 '23-Feb-2011',
 '18-Feb-2011',
 '17-Feb-2011',
 '13-Feb-2011',
 '12-Feb-2011',
 'Reported 04-Feb-2011',
 '02-Feb-2011',
 '31-Jan-2011',
 '28-Jan-2011',
 '26-Jan-2011',
 '20-Jan-2011',
 '15-Jan-2011',
 'Reported 12-Jan 2011',
 '03-Jan-2011',
 '26-Dec-2010',
 '17-Dec-2010',
 '11-Dec-2010',
 '05-Dec-2010',
 'Reported 03-Dec-2010',
 '01-Dec-2010',
 '30-Nov-2010',
 'Reported 27-Nov-2010',
 '27-Nov-2010',
 '19-Nov-2010',
 '15-Nov-2010',
 '14-Nov-2010',
 'Reported 12-Nov-2010',
 '30-Oct-2010',
 'Reported 28-Oct-2010',
 '28-Oct-2010',
 '25-Oct-2010',
 '23-Oct-2010',
 '22-Oct-2010',
 '20-Oct-2010',
 '09-Oct-2010',
 '02-Oct-2010',
 '01-Oct-2010',
 '27-Sep-2010',
 '24-Sep-2010',
 '21-Sep-2010',
 ' 13-Sep-2010',
 '07-Sep-2010',
 'Reported 06-Sep-2010',
 ' 04-Sep-2010',
 '03-Sep-2010',
 '02-Sep-2010',
 '29-Aug-2010',
 '18-Aug-2010',
 '17-Aug-2010',
 '14-Aug-2010',
 '10-Aug-2010',
 '08-Aug-2010',
 '07-Aug-2010',
 '05-Aug-2010',
 '02-Aug-2010',
 '25-Jul-2010',
 '23-Jul-2010',
 '19-Jul-2010',
 '17-Jul-2010',
 '16-Jul-2010',
 '11-Jul-2010',
 '04-Jul-2010',
 '03-Jul-2010',
 '02-Jul-2010',
 '27-Jun-2010',
 '25-Jun-2010',
 '15-Jun-2010',
 '10-Jun-2010',
 '06-Jun-2010',
 'Jun-2010',
 '30-May-2010',
 '18-May-2010',
 '03-May-2010',
 '01-May-2010',
 '28-Apr-2010',
 '19-Apr-2010',
 '13-Apr-2010',
 '04-Apr-2010',
 ' 27-Mar-2010',
 '190Feb-2010',
 '16-Feb-2010',
 '15-Feb-2010',
 '13-Feb-2010',
 '11-Feb-2010',
 'Reported 06-Feb-2010',
 '06-Feb-2010',
 '04-Feb-2010',
 '03-Feb-2010',
 '01-Feb-2010',
 '31-Jan-2010',
 '27-Jan-2010',
 '22-Jan-2010',
 '12-Jan-2010',
 '09-Jan-2010',
 '06-Jan-2010',
 '05-Jan-2010',
 '29-Dec-2009',
 '26-Dec-2009',
 '22-Dec-2009',
 '20-Dec-2009',
 '18-Dec-2009',
 '16-Dec-2009',
 '13-Dec-2009',
 '12-Dec-2009',
 '05-Dec-2009',
 '25-Nov-2009',
 '24-Nov-2009',
 '16-Nov-2009',
 '13-Nov-2009',
 '11-Nov-2009',
 '08-Nov-2009',
 '05-Nov-2009',
 '30-Oct-2009',
 'Reported 29-Oct-2009',
 '28-Oct-2009',
 '24-Oct-2009',
 '19-Oct-2009',
 '18-Oct-2009',
 '17-Oct-2009',
 'Reported 14-Oct-2009',
 '09-Oct-2009',
 '02-Oct-2009',
 '26-Sep-2009',
 '18-Sep-2009',
 '15-Sep-2009',
 '13-Sep-2009',
 '12-Sep-2009',
 '07-Sep-2009',
 '02-Sep-2009',
 '01-Sep-2009',
 '30-Aug-2009',
 '29-Aug-2009',
 '25-Aug-2009',
 '11-Aug-2009',
 '10-Aug-2009',
 '06-Aug-2009',
 '01-Aug-2009',
 '31-July-2009',
 '30-Jul-2009',
 '29-Jul-2009',
 'Reported 24-Jul-2009',
 '24-Jul-2009',
 '22-Jul-2009',
 '18-Jul-2009',
 '11-Jul-2009',
 '07-Jul-2009',
 '05-Jul-2009',
 '04-Jul-2009',
 '27-Jun-2009',
 '21-Jun-2009',
 '16-Jun-2009',
 'Reported 14-Jun-2009',
 '02-Jun-2009',
 '01-Jun-2009',
 '31-May-2009',
 '25-May-2009',
 '17-May-2009',
 '16-May-2009',
 '12-May-2009',
 '06-Mar-2009',
 '28-Apr-2009',
 'Reported 25-Apr-2009',
 '21-Apr-2009',
 '20-Apr-2009',
 '19-Apr-2009',
 '17-Apr-2009',
 '11-Apr-2009',
 '12-Apr-2009',
 '06-Apr-2009',
 '03-Apr-2009',
 '27-Mar-2009',
 '21-Mar-2009',
 '20-Mar-2009',
 '19-Mar-2009',
 '18-Mar-2009',
 'Reported 17-Mar-2009',
 '17-Mar-2009',
 'Reported 16-Mar-2009',
 '02-Mar-2009',
 '01-Mar-2009',
 '22-Feb-2009',
 '18-Feb-2009',
 '12-Feb-2009',
 '11-Feb-2009',
 '08-Feb-2009',
 '07-Feb-2009',
 'Reported 27-Jan-2009',
 'Reported 26-Jan-2009',
 '25-Jan-2009',
 '24-Jan-2009',
 '23-Jan-2009',
 '18-Jan-2009',
 '16-Jan-2009',
 'Reported 13-Jan-2009',
 '12-Jan-2009',
 '11-Jan-2009',
 '    10-Jan-2009',
 '10-Jan-2009',
 '06-Jan-2009',
 'Jan-2009',
 '30-Dec-2008',
 '27-Dec-2008',
 '20-Dec-2008',
 '14-Dec-2008',
 '10-Dec-2008',
 '06-Dec-2006',
 'Dec-2008',
 '28-Nov-2008',
 '25-Nov-2008',
 '24-Nov-2008',
 '09-Nov-2008',
 '06-Nov-2008',
 '22-Oct-2008',
 '21-Oct-2008',
 '12-Oct-2008',
 '11-Oct-2008',
 '08-Oct-2008',
 '06-Oct-2008',
 '28-Sep-2008',
 '15-Sep-2008',
 '14-Sep-2008',
 '09-Sep-2008',
 '08-Sep-2008',
 '07-Sep-2008',
 '06-Sep-2008',
 '01-Sep-2008',
 'Sep-2008',
 ...]

In [39]:
dataClean['Date'] = pd.to_datetime(dataClean['Date'],errors='coerce')

In [40]:
list(dataClean.Date.unique())

[numpy.datetime64('2018-06-25T00:00:00.000000000'),
 numpy.datetime64('2018-06-18T00:00:00.000000000'),
 numpy.datetime64('2018-06-09T00:00:00.000000000'),
 numpy.datetime64('2018-06-08T00:00:00.000000000'),
 numpy.datetime64('2018-06-04T00:00:00.000000000'),
 numpy.datetime64('2018-06-03T00:00:00.000000000'),
 numpy.datetime64('2018-05-27T00:00:00.000000000'),
 numpy.datetime64('2018-05-26T00:00:00.000000000'),
 numpy.datetime64('2018-05-24T00:00:00.000000000'),
 numpy.datetime64('2018-05-21T00:00:00.000000000'),
 numpy.datetime64('2018-05-13T00:00:00.000000000'),
 numpy.datetime64('2018-05-01T00:00:00.000000000'),
 numpy.datetime64('2018-05-12T00:00:00.000000000'),
 numpy.datetime64('2018-05-09T00:00:00.000000000'),
 numpy.datetime64('NaT'),
 numpy.datetime64('2018-04-28T00:00:00.000000000'),
 numpy.datetime64('2018-04-25T00:00:00.000000000'),
 numpy.datetime64('2018-04-24T00:00:00.000000000'),
 numpy.datetime64('2018-04-23T00:00:00.000000000'),
 numpy.datetime64('2018-04-22T00:00:00.000000000'),
 numpy.datetime64('2018-04-19T00:00:00.000000000'),
 numpy.datetime64('2018-04-15T00:00:00.000000000'),
 numpy.datetime64('2018-04-14T00:00:00.000000000'),
 numpy.datetime64('2018-04-09T00:00:00.000000000'),
 numpy.datetime64('2018-04-05T00:00:00.000000000'),
 numpy.datetime64('2018-04-03T00:00:00.000000000'),
 numpy.datetime64('2018-03-31T00:00:00.000000000'),
 numpy.datetime64('2018-03-14T00:00:00.000000000'),
 numpy.datetime64('2018-03-09T00:00:00.000000000'),
 numpy.datetime64('2018-02-24T00:00:00.000000000'),
 numpy.datetime64('2018-02-23T00:00:00.000000000'),
 numpy.datetime64('2018-02-18T00:00:00.000000000'),
 numpy.datetime64('2018-02-15T00:00:00.000000000'),
 numpy.datetime64('2018-02-14T00:00:00.000000000'),
 numpy.datetime64('2018-02-11T00:00:00.000000000'),
 numpy.datetime64('2018-02-03T00:00:00.000000000'),
 numpy.datetime64('2018-02-01T00:00:00.000000000'),
 numpy.datetime64('2018-01-28T00:00:00.000000000'),
 numpy.datetime64('2018-01-21T00:00:00.000000000'),
 numpy.datetime64('2018-01-14T00:00:00.000000000'),
 numpy.datetime64('2018-01-13T00:00:00.000000000'),
 numpy.datetime64('2018-01-12T00:00:00.000000000'),
 numpy.datetime64('2018-01-05T00:00:00.000000000'),
 numpy.datetime64('2017-12-31T00:00:00.000000000'),
 numpy.datetime64('2017-12-30T00:00:00.000000000'),
 numpy.datetime64('2017-12-21T00:00:00.000000000'),
 numpy.datetime64('2017-12-09T00:00:00.000000000'),
 numpy.datetime64('2017-11-30T00:00:00.000000000'),
 numpy.datetime64('2017-11-24T00:00:00.000000000'),
 numpy.datetime64('2017-11-18T00:00:00.000000000'),
 numpy.datetime64('2017-11-13T00:00:00.000000000'),
 numpy.datetime64('2017-11-04T00:00:00.000000000'),
 numpy.datetime64('2017-10-28T00:00:00.000000000'),
 numpy.datetime64('2017-10-26T00:00:00.000000000'),
 numpy.datetime64('2017-10-23T00:00:00.000000000'),
 numpy.datetime64('2017-10-22T00:00:00.000000000'),
 numpy.datetime64('2017-10-21T00:00:00.000000000'),
 numpy.datetime64('2017-10-18T00:00:00.000000000'),
 numpy.datetime64('2017-10-09T00:00:00.000000000'),
 numpy.datetime64('2017-10-05T00:00:00.000000000'),
 numpy.datetime64('2017-10-01T00:00:00.000000000'),
 numpy.datetime64('2017-09-25T00:00:00.000000000'),
 numpy.datetime64('2017-09-24T00:00:00.000000000'),
 numpy.datetime64('2017-09-20T00:00:00.000000000'),
 numpy.datetime64('2017-09-16T00:00:00.000000000'),
 numpy.datetime64('2017-09-15T00:00:00.000000000'),
 numpy.datetime64('2017-09-01T00:00:00.000000000'),
 numpy.datetime64('2017-09-13T00:00:00.000000000'),
 numpy.datetime64('2017-09-10T00:00:00.000000000'),
 numpy.datetime64('2017-09-03T00:00:00.000000000'),
 numpy.datetime64('2017-09-02T00:00:00.000000000'),
 numpy.datetime64('2017-08-29T00:00:00.000000000'),
 numpy.datetime64('2017-08-27T00:00:00.000000000'),
 numpy.datetime64('2017-08-26T00:00:00.000000000'),
 numpy.datetime64('2017-08-23T00:00:00.000000000'),
 numpy.datetime64('2017-08-18T00:00:00.000000000'),
 numpy.datetime64('2017-08-10T00:00:00.000000000'),
 numpy.datetime64('2017-08-05T00:00:00.000000000'),
 numpy.datetime64('2017-08-03T00:00:00.000000000'),
 numpy.datetime64('2017-08-01T00:00:00.000000000'),
 numpy.datetime64('2017-07-31T00:00:00.000000000'),
 numpy.datetime64('2017-07-29T00:00:00.000000000'),
 numpy.datetime64('2017-07-27T00:00:00.000000000'),
 numpy.datetime64('2017-07-24T00:00:00.000000000'),
 numpy.datetime64('2017-07-23T00:00:00.000000000'),
 numpy.datetime64('2017-07-22T00:00:00.000000000'),
 numpy.datetime64('2017-07-20T00:00:00.000000000'),
 numpy.datetime64('2017-07-14T00:00:00.000000000'),
 numpy.datetime64('2017-07-11T00:00:00.000000000'),
 numpy.datetime64('2017-07-09T00:00:00.000000000'),
 numpy.datetime64('2017-07-07T00:00:00.000000000'),
 numpy.datetime64('2017-07-02T00:00:00.000000000'),
 numpy.datetime64('2017-06-29T00:00:00.000000000'),
 numpy.datetime64('2017-06-21T00:00:00.000000000'),
 numpy.datetime64('2017-06-19T00:00:00.000000000'),
 numpy.datetime64('2017-06-18T00:00:00.000000000'),
 numpy.datetime64('2017-06-17T00:00:00.000000000'),
 numpy.datetime64('2017-06-05T00:00:00.000000000'),
 numpy.datetime64('2017-06-11T00:00:00.000000000'),
 numpy.datetime64('2017-06-10T00:00:00.000000000'),
 numpy.datetime64('2017-06-04T00:00:00.000000000'),
 numpy.datetime64('2017-06-02T00:00:00.000000000'),
 numpy.datetime64('2017-05-30T00:00:00.000000000'),
 numpy.datetime64('2017-05-28T00:00:00.000000000'),
 numpy.datetime64('2017-05-27T00:00:00.000000000'),
 numpy.datetime64('2017-05-12T00:00:00.000000000'),
 numpy.datetime64('2017-05-05T00:00:00.000000000'),
 numpy.datetime64('2017-05-03T00:00:00.000000000'),
 numpy.datetime64('2017-04-29T00:00:00.000000000'),
 numpy.datetime64('2017-04-27T00:00:00.000000000'),
 numpy.datetime64('2017-04-26T00:00:00.000000000'),
 numpy.datetime64('2017-04-22T00:00:00.000000000'),
 numpy.datetime64('2017-04-20T00:00:00.000000000'),
 numpy.datetime64('2017-04-17T00:00:00.000000000'),
 numpy.datetime64('2017-04-14T00:00:00.000000000'),
 numpy.datetime64('2017-04-13T00:00:00.000000000'),
 numpy.datetime64('2017-04-12T00:00:00.000000000'),
 numpy.datetime64('2017-04-11T00:00:00.000000000'),
 numpy.datetime64('2017-04-10T00:00:00.000000000'),
 numpy.datetime64('2017-04-06T00:00:00.000000000'),
 numpy.datetime64('2017-04-05T00:00:00.000000000'),
 numpy.datetime64('2017-04-02T00:00:00.000000000'),
 numpy.datetime64('2017-03-27T00:00:00.000000000'),
 numpy.datetime64('2017-03-19T00:00:00.000000000'),
 numpy.datetime64('2017-03-18T00:00:00.000000000'),
 numpy.datetime64('2017-03-11T00:00:00.000000000'),
 numpy.datetime64('2017-02-25T00:00:00.000000000'),
 numpy.datetime64('2017-02-24T00:00:00.000000000'),
 numpy.datetime64('2017-02-21T00:00:00.000000000'),
 numpy.datetime64('2017-02-17T00:00:00.000000000'),
 numpy.datetime64('2017-02-11T00:00:00.000000000'),
 numpy.datetime64('2017-02-06T00:00:00.000000000'),
 numpy.datetime64('2017-02-01T00:00:00.000000000'),
 numpy.datetime64('2017-01-24T00:00:00.000000000'),
 numpy.datetime64('2017-01-22T00:00:00.000000000'),
 numpy.datetime64('2017-01-21T00:00:00.000000000'),
 numpy.datetime64('2017-01-13T00:00:00.000000000'),
 numpy.datetime64('2017-01-09T00:00:00.000000000'),
 numpy.datetime64('2017-01-05T00:00:00.000000000'),
 numpy.datetime64('2017-01-03T00:00:00.000000000'),
 numpy.datetime64('2016-12-27T00:00:00.000000000'),
 numpy.datetime64('2016-12-24T00:00:00.000000000'),
 numpy.datetime64('2016-12-19T00:00:00.000000000'),
 numpy.datetime64('2016-12-14T00:00:00.000000000'),
 numpy.datetime64('2016-12-11T00:00:00.000000000'),
 numpy.datetime64('2016-12-06T00:00:00.000000000'),
 numpy.datetime64('2016-12-01T00:00:00.000000000'),
 numpy.datetime64('2016-11-28T00:00:00.000000000'),
 numpy.datetime64('2016-11-14T00:00:00.000000000'),
 numpy.datetime64('2016-10-30T00:00:00.000000000'),
 numpy.datetime64('2016-10-29T00:00:00.000000000'),
 numpy.datetime64('2016-10-24T00:00:00.000000000'),
 numpy.datetime64('2016-10-21T00:00:00.000000000'),
 numpy.datetime64('2016-10-15T00:00:00.000000000'),
 numpy.datetime64('2016-10-14T00:00:00.000000000'),
 numpy.datetime64('2016-10-13T00:00:00.000000000'),
 numpy.datetime64('2016-10-12T00:00:00.000000000'),
 numpy.datetime64('2016-10-10T00:00:00.000000000'),
 numpy.datetime64('2016-10-02T00:00:00.000000000'),
 numpy.datetime64('2016-10-01T00:00:00.000000000'),
 numpy.datetime64('2016-09-26T00:00:00.000000000'),
 numpy.datetime64('2016-09-18T00:00:00.000000000'),
 numpy.datetime64('2016-09-17T00:00:00.000000000'),
 numpy.datetime64('2016-09-16T00:00:00.000000000'),
 numpy.datetime64('2016-09-15T00:00:00.000000000'),
 numpy.datetime64('2016-09-11T00:00:00.000000000'),
 numpy.datetime64('2016-09-07T00:00:00.000000000'),
 numpy.datetime64('2016-09-06T00:00:00.000000000'),
 numpy.datetime64('2016-09-05T00:00:00.000000000'),
 numpy.datetime64('2016-09-04T00:00:00.000000000'),
 numpy.datetime64('2016-09-01T00:00:00.000000000'),
 numpy.datetime64('2016-08-29T00:00:00.000000000'),
 numpy.datetime64('2016-08-27T00:00:00.000000000'),
 numpy.datetime64('2016-08-25T00:00:00.000000000'),
 numpy.datetime64('2016-08-07T00:00:00.000000000'),
 numpy.datetime64('2016-08-06T00:00:00.000000000'),
 numpy.datetime64('2016-08-04T00:00:00.000000000'),
 numpy.datetime64('2016-07-29T00:00:00.000000000'),
 numpy.datetime64('2016-07-28T00:00:00.000000000'),
 numpy.datetime64('2016-07-27T00:00:00.000000000'),
 numpy.datetime64('2016-07-26T00:00:00.000000000'),
 numpy.datetime64('2016-07-24T00:00:00.000000000'),
 numpy.datetime64('2016-07-23T00:00:00.000000000'),
 numpy.datetime64('2016-07-20T00:00:00.000000000'),
 numpy.datetime64('2016-07-17T00:00:00.000000000'),
 numpy.datetime64('2016-07-16T00:00:00.000000000'),
 numpy.datetime64('2016-07-15T00:00:00.000000000'),
 numpy.datetime64('2016-07-08T00:00:00.000000000'),
 numpy.datetime64('2016-07-07T00:00:00.000000000'),
 numpy.datetime64('2016-07-06T00:00:00.000000000'),
 numpy.datetime64('2016-07-04T00:00:00.000000000'),
 numpy.datetime64('2016-06-27T00:00:00.000000000'),
 numpy.datetime64('2016-06-25T00:00:00.000000000'),
 numpy.datetime64('2016-06-24T00:00:00.000000000'),
 numpy.datetime64('2016-06-23T00:00:00.000000000'),
 numpy.datetime64('2016-06-21T00:00:00.000000000'),
 numpy.datetime64('2016-06-15T00:00:00.000000000'),
 numpy.datetime64('2016-06-14T00:00:00.000000000'),
 numpy.datetime64('2016-06-11T00:00:00.000000000'),
 numpy.datetime64('2016-06-07T00:00:00.000000000'),
 numpy.datetime64('2016-06-05T00:00:00.000000000'),
 numpy.datetime64('2016-06-04T00:00:00.000000000'),
 numpy.datetime64('2016-06-02T00:00:00.000000000'),
 numpy.datetime64('2016-05-31T00:00:00.000000000'),
 numpy.datetime64('2016-05-29T00:00:00.000000000'),
 numpy.datetime64('2016-05-22T00:00:00.000000000'),
 numpy.datetime64('2016-05-21T00:00:00.000000000'),
 numpy.datetime64('2016-05-18T00:00:00.000000000'),
 numpy.datetime64('2016-05-15T00:00:00.000000000'),
 numpy.datetime64('2016-05-03T00:00:00.000000000'),
 numpy.datetime64('2016-05-02T00:00:00.000000000'),
 numpy.datetime64('2016-04-25T00:00:00.000000000'),
 numpy.datetime64('2016-04-23T00:00:00.000000000'),
 numpy.datetime64('2016-04-22T00:00:00.000000000'),
 numpy.datetime64('2016-04-19T00:00:00.000000000'),
 numpy.datetime64('2016-04-18T00:00:00.000000000'),
 numpy.datetime64('2016-04-13T00:00:00.000000000'),
 numpy.datetime64('2016-04-09T00:00:00.000000000'),
 numpy.datetime64('2016-04-08T00:00:00.000000000'),
 numpy.datetime64('2016-04-07T00:00:00.000000000'),
 numpy.datetime64('2016-03-31T00:00:00.000000000'),
 numpy.datetime64('2016-03-30T00:00:00.000000000'),
 numpy.datetime64('2016-03-28T00:00:00.000000000'),
 numpy.datetime64('2016-03-26T00:00:00.000000000'),
 numpy.datetime64('2016-03-13T00:00:00.000000000'),
 numpy.datetime64('2016-03-11T00:00:00.000000000'),
 numpy.datetime64('2016-03-10T00:00:00.000000000'),
 numpy.datetime64('2016-03-04T00:00:00.000000000'),
 numpy.datetime64('2016-03-02T00:00:00.000000000'),
 numpy.datetime64('2016-02-22T00:00:00.000000000'),
 numpy.datetime64('2016-02-19T00:00:00.000000000'),
 numpy.datetime64('2016-02-12T00:00:00.000000000'),
 numpy.datetime64('2016-02-10T00:00:00.000000000'),
 numpy.datetime64('2016-02-05T00:00:00.000000000'),
 numpy.datetime64('2016-02-04T00:00:00.000000000'),
 numpy.datetime64('2016-02-02T00:00:00.000000000'),
 numpy.datetime64('2016-01-29T00:00:00.000000000'),
 numpy.datetime64('2016-01-28T00:00:00.000000000'),
 numpy.datetime64('2016-01-25T00:00:00.000000000'),
 numpy.datetime64('2016-01-24T00:00:00.000000000'),
 numpy.datetime64('2016-01-23T00:00:00.000000000'),
 numpy.datetime64('2016-01-05T00:00:00.000000000'),
 numpy.datetime64('2016-01-02T00:00:00.000000000'),
 numpy.datetime64('2015-12-26T00:00:00.000000000'),
 numpy.datetime64('2015-12-25T00:00:00.000000000'),
 numpy.datetime64('2015-12-22T00:00:00.000000000'),
 numpy.datetime64('2015-12-21T00:00:00.000000000'),
 numpy.datetime64('2015-12-19T00:00:00.000000000'),
 numpy.datetime64('2015-12-13T00:00:00.000000000'),
 numpy.datetime64('2015-12-11T00:00:00.000000000'),
 numpy.datetime64('2015-12-08T00:00:00.000000000'),
 numpy.datetime64('2015-11-20T00:00:00.000000000'),
 numpy.datetime64('2015-11-16T00:00:00.000000000'),
 numpy.datetime64('2015-11-15T00:00:00.000000000'),
 numpy.datetime64('2015-11-10T00:00:00.000000000'),
 numpy.datetime64('2015-11-07T00:00:00.000000000'),
 numpy.datetime64('2015-11-03T00:00:00.000000000'),
 numpy.datetime64('2015-11-01T00:00:00.000000000'),
 numpy.datetime64('2015-10-30T00:00:00.000000000'),
 numpy.datetime64('2015-10-28T00:00:00.000000000'),
 numpy.datetime64('2015-10-25T00:00:00.000000000'),
 numpy.datetime64('2015-10-21T00:00:00.000000000'),
 numpy.datetime64('2015-10-19T00:00:00.000000000'),
 numpy.datetime64('2015-10-17T00:00:00.000000000'),
 numpy.datetime64('2015-10-13T00:00:00.000000000'),
 numpy.datetime64('2015-10-09T00:00:00.000000000'),
 numpy.datetime64('2015-10-08T00:00:00.000000000'),
 numpy.datetime64('2015-10-07T00:00:00.000000000'),
 numpy.datetime64('2015-10-05T00:00:00.000000000'),
 numpy.datetime64('2015-10-04T00:00:00.000000000'),
 numpy.datetime64('2015-09-29T00:00:00.000000000'),
 numpy.datetime64('2015-09-26T00:00:00.000000000'),
 numpy.datetime64('2015-09-24T00:00:00.000000000'),
 numpy.datetime64('2015-09-20T00:00:00.000000000'),
 numpy.datetime64('2015-09-19T00:00:00.000000000'),
 numpy.datetime64('2015-09-18T00:00:00.000000000'),
 numpy.datetime64('2015-09-17T00:00:00.000000000'),
 numpy.datetime64('2015-09-08T00:00:00.000000000'),
 numpy.datetime64('2015-09-06T00:00:00.000000000'),
 numpy.datetime64('2015-09-05T00:00:00.000000000'),
 numpy.datetime64('2015-09-04T00:00:00.000000000'),
 numpy.datetime64('2015-09-03T00:00:00.000000000'),
 numpy.datetime64('2015-09-01T00:00:00.000000000'),
 numpy.datetime64('2015-08-29T00:00:00.000000000'),
 numpy.datetime64('2015-08-22T00:00:00.000000000'),
 numpy.datetime64('2015-08-20T00:00:00.000000000'),
 numpy.datetime64('2015-08-19T00:00:00.000000000'),
 numpy.datetime64('2015-08-18T00:00:00.000000000'),
 numpy.datetime64('2015-08-10T00:00:00.000000000'),
 numpy.datetime64('2015-07-31T00:00:00.000000000'),
 numpy.datetime64('2015-07-28T00:00:00.000000000'),
 numpy.datetime64('2015-07-27T00:00:00.000000000'),
 numpy.datetime64('2015-07-26T00:00:00.000000000'),
 numpy.datetime64('2015-07-25T00:00:00.000000000'),
 numpy.datetime64('2015-07-23T00:00:00.000000000'),
 numpy.datetime64('2015-07-22T00:00:00.000000000'),
 numpy.datetime64('2015-07-19T00:00:00.000000000'),
 numpy.datetime64('2015-07-10T00:00:00.000000000'),
 numpy.datetime64('2015-07-08T00:00:00.000000000'),
 numpy.datetime64('2015-07-06T00:00:00.000000000'),
 numpy.datetime64('2015-07-04T00:00:00.000000000'),
 numpy.datetime64('2015-07-03T00:00:00.000000000'),
 numpy.datetime64('2015-07-02T00:00:00.000000000'),
 numpy.datetime64('2015-07-01T00:00:00.000000000'),
 numpy.datetime64('2015-06-30T00:00:00.000000000'),
 numpy.datetime64('2015-06-27T00:00:00.000000000'),
 numpy.datetime64('2015-06-26T00:00:00.000000000'),
 numpy.datetime64('2015-06-25T00:00:00.000000000'),
 numpy.datetime64('2015-06-24T00:00:00.000000000'),
 numpy.datetime64('2015-06-23T00:00:00.000000000'),
 numpy.datetime64('2015-06-19T00:00:00.000000000'),
 numpy.datetime64('2015-06-17T00:00:00.000000000'),
 numpy.datetime64('2015-06-14T00:00:00.000000000'),
 numpy.datetime64('2015-06-13T00:00:00.000000000'),
 numpy.datetime64('2015-06-11T00:00:00.000000000'),
 numpy.datetime64('2015-06-07T00:00:00.000000000'),
 numpy.datetime64('2015-06-05T00:00:00.000000000'),
 numpy.datetime64('2015-06-01T00:00:00.000000000'),
 numpy.datetime64('2015-05-29T00:00:00.000000000'),
 numpy.datetime64('2015-05-25T00:00:00.000000000'),
 numpy.datetime64('2015-05-24T00:00:00.000000000'),
 numpy.datetime64('2015-05-20T00:00:00.000000000'),
 numpy.datetime64('2015-05-15T00:00:00.000000000'),
 numpy.datetime64('2015-05-09T00:00:00.000000000'),
 numpy.datetime64('2015-05-07T00:00:00.000000000'),
 numpy.datetime64('2015-05-03T00:00:00.000000000'),
 numpy.datetime64('2015-05-02T00:00:00.000000000'),
 numpy.datetime64('2015-04-29T00:00:00.000000000'),
 numpy.datetime64('2015-04-26T00:00:00.000000000'),
 numpy.datetime64('2015-04-25T00:00:00.000000000'),
 numpy.datetime64('2015-04-13T00:00:00.000000000'),
 numpy.datetime64('2015-04-12T00:00:00.000000000'),
 numpy.datetime64('2015-04-11T00:00:00.000000000'),
 numpy.datetime64('2015-04-03T00:00:00.000000000'),
 numpy.datetime64('2015-03-29T00:00:00.000000000'),
 numpy.datetime64('2015-03-31T00:00:00.000000000'),
 numpy.datetime64('2015-03-26T00:00:00.000000000'),
 numpy.datetime64('2015-03-21T00:00:00.000000000'),
 numpy.datetime64('2015-03-18T00:00:00.000000000'),
 numpy.datetime64('2015-03-16T00:00:00.000000000'),
 numpy.datetime64('2015-03-11T00:00:00.000000000'),
 numpy.datetime64('2015-03-10T00:00:00.000000000'),
 numpy.datetime64('2015-03-07T00:00:00.000000000'),
 numpy.datetime64('2015-02-15T00:00:00.000000000'),
 numpy.datetime64('2015-02-14T00:00:00.000000000'),
 numpy.datetime64('2015-02-09T00:00:00.000000000'),
 numpy.datetime64('2015-02-08T00:00:00.000000000'),
 numpy.datetime64('2015-02-05T00:00:00.000000000'),
 numpy.datetime64('2015-01-30T00:00:00.000000000'),
 numpy.datetime64('2015-01-27T00:00:00.000000000'),
 numpy.datetime64('2015-01-24T00:00:00.000000000'),
 numpy.datetime64('2015-01-23T00:00:00.000000000'),
 numpy.datetime64('2015-01-19T00:00:00.000000000'),
 numpy.datetime64('2015-01-17T00:00:00.000000000'),
 numpy.datetime64('2015-01-16T00:00:00.000000000'),
 numpy.datetime64('2015-01-08T00:00:00.000000000'),
 numpy.datetime64('2015-01-06T00:00:00.000000000'),
 numpy.datetime64('2015-01-03T00:00:00.000000000'),
 numpy.datetime64('2015-01-01T00:00:00.000000000'),
 numpy.datetime64('2014-12-29T00:00:00.000000000'),
 numpy.datetime64('2014-12-28T00:00:00.000000000'),
 numpy.datetime64('2014-12-15T00:00:00.000000000'),
 numpy.datetime64('2014-11-29T00:00:00.000000000'),
 numpy.datetime64('2014-11-20T00:00:00.000000000'),
 numpy.datetime64('2014-11-19T00:00:00.000000000'),
 numpy.datetime64('2014-11-16T00:00:00.000000000'),
 numpy.datetime64('2014-11-13T00:00:00.000000000'),
 numpy.datetime64('2014-11-10T00:00:00.000000000'),
 numpy.datetime64('2014-11-08T00:00:00.000000000'),
 numpy.datetime64('2014-10-31T00:00:00.000000000'),
 numpy.datetime64('2014-10-29T00:00:00.000000000'),
 numpy.datetime64('2014-10-22T00:00:00.000000000'),
 numpy.datetime64('2014-10-20T00:00:00.000000000'),
 numpy.datetime64('2014-10-19T00:00:00.000000000'),
 numpy.datetime64('2014-10-18T00:00:00.000000000'),
 numpy.datetime64('2014-10-17T00:00:00.000000000'),
 numpy.datetime64('2014-10-14T00:00:00.000000000'),
 numpy.datetime64('2014-10-12T00:00:00.000000000'),
 numpy.datetime64('2014-10-11T00:00:00.000000000'),
 numpy.datetime64('2014-10-05T00:00:00.000000000'),
 numpy.datetime64('2014-10-07T00:00:00.000000000'),
 numpy.datetime64('2014-10-03T00:00:00.000000000'),
 numpy.datetime64('2014-10-02T00:00:00.000000000'),
 numpy.datetime64('2014-09-21T00:00:00.000000000'),
 numpy.datetime64('2014-09-13T00:00:00.000000000'),

In [41]:
data['Area'].value_counts().head(10)

Florida                  1037
New South Wales           486
Queensland                311
Hawaii                    298
California                290
KwaZulu-Natal             213
Western Cape Province     195
Western Australia         189
South Carolina            160
Eastern Cape Province     160
Name: Area, dtype: int64

In [42]:
def clean(x):
    if isinstance(x, str):
        x = x.lower()
        if 'florida' in x:
            return "Florida"
        elif 'new south wales' in x:
            return "New South Wales"
        elif 'queensland' in x:
            return "Queensland"
        elif 'hawaii' in x:
            return "Hawaii"
        elif 'california' in x:
            return "California"
        elif 'kwaZulu-natal' in x:
            return "KwaZulu-Natal"
        elif 'western cape province' in x:
            return "Western Cape Province"
        elif 'western australia' in x:
            return "Western Australia"
    else: return "UNKNOWN"
       
dataClean["Area"] = dataClean["Area"].apply(lambda x: clean(x))

In [43]:
dataClean['Area'].value_counts()

Florida                  1039
New South Wales           486
Queensland                312
Hawaii                    305
California                302
Western Cape Province     195
Western Australia         189
Name: Area, dtype: int64

In [44]:
data['Investigator'].value_counts().head(10)

C. Moore, GSAF        105
C. Creswell, GSAF      92
S. Petersohn, GSAF     82
R. Collier             55
T. Peake, GSAF         48
R. Collier, GSAF       48
M. Levine, GSAF        45
A. Gifford, GSAF       28
C. Moore. GSAF         27
B. Myatt, GSAF         26
Name: Investigator, dtype: int64

In [45]:
def clean(x):
    if isinstance(x, str):
        x = x.lower()
        if 'moore' in x:
            return "C. Moore"
        elif 'creswell' in x:
            return "C. Creswell"
        elif 'petersohn' in x:
            return "S. Petersohn"
        elif 'collier' in x:
            return "R. Collier"
        elif 'peak' in x:
            return "T. Peake"
        elif 'levine' in x:
            return "M. Levine"
        elif 'gifford' in x:
            return "A. Gifford"
        elif 'myatt' in x:
            return "B. Myatt"
    else: return "UNKNOWN"
       
dataClean['Investigator'] = dataClean['Investigator'].apply(lambda x: clean(x))

In [46]:
dataClean['Investigator'].value_counts().head(10)

M. Levine       278
R. Collier      260
S. Petersohn    178
C. Moore        166
C. Creswell     165
T. Peake         68
A. Gifford       35
B. Myatt         30
UNKNOWN          27
Name: Investigator, dtype: int64

In [47]:
dataClean

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator,pdf,href_formula,href,Case Number.1,Case Number.2,original order,Unnamed:22,Unnamed:23
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",None,Julie Wolfe,F,...,White Shark,R. Collier,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,2018-06-18,2018.0,Unprovoked,USA,None,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,UNKNOWN,None,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,UNKNOWN,None,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,None,B. Myatt,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,2018-06-04,2018.0,Provoked,MEXICO,None,La Ticla,Diving,Gustavo Ramos,M,...,Tiger Shark,None,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaT,NaN,NaN,nan,None,UNKNOWN,UNKNOWN,NaN,UNKNOWN,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaT,NaN,NaN,nan,None,UNKNOWN,UNKNOWN,NaN,UNKNOWN,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaT,NaN,NaN,nan,None,UNKNOWN,UNKNOWN,NaN,UNKNOWN,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaT,NaN,NaN,nan,None,UNKNOWN,UNKNOWN,NaN,UNKNOWN,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaT,NaN,NaN,nan,None,UNKNOWN,UNKNOWN,NaN,UNKNOWN,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
data.to_csv('data_attack_cleaned.csv', index=False)