In [95]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
from bs4 import BeautifulSoup
import warnings
warnings.simplefilter('ignore')

In [109]:
url = 'https://www.quandl.com/api/v3/datasets/WIKI/AAPL.json'
response = requests.get(url)
results = response.json()

In [110]:
data = pd.DataFrame(results)
date = []
open_ = []
high = []
low = []
close = []
result = []

for list in data['dataset'][3][:1185]:
    date.append(list[0])
    open_.append(list[1])
    high.append(list[2])
    low.append(list[3])
    close.append(list[4])
    
df = pd.DataFrame({'Date': date, 'Open' : open_, 'High' : high, 'Low' : low, 'Close' : close})
df.head(3)

         Date    Open    High     Low   Close
0  2018-03-27  173.68  175.15  166.92  168.34
1  2018-03-26  168.07  173.10  166.44  172.77
2  2018-03-23  168.39  169.92  164.94  164.94

In [102]:
url2 = 'https://www.ft.com/stream/a39a4558-f562-4dca-8774-000246e6eebe?format=&page=' 
dates = []
headlines = []
for i in range(16,143): 
    path = url2 + str(i)
    html = requests.get(path).content
    soup = BeautifulSoup(html, "lxml")
    text = soup.find_all('li',{'class':'o-teaser-collection__item o-grid-row'})
    for i in soup.findAll('time'):
        if i.has_attr('datetime'):
            dates.append(i['datetime'][0:10])
    for i in soup.find_all('a',{'class':'js-teaser-heading-link'}):
        headlines.append(i.text)

In [111]:
dfHead = pd.DataFrame({'Date': dates, 'Titulares' : headlines})
dfHead.head(3)

         Date                                          Titulares
0  2018-11-09     Apple boosts land holdings to over 7,000 acres
1  2018-11-07  Slower Chinese demand, Apple feud weigh on Qua...
2  2018-11-06  Asia Apple suppliers fall on report of weaker ...

In [112]:
dfConcat = pd.concat([df, dfHead], axis=1, join_axes=[df.index])
dfConcat.head(3)

,Date,Open,High,Low,Close,Date,Titulares
0,2018-03-27,173.68,175.15,166.92,168.34,2018-11-09,"Apple boosts land holdings to over 7,000 acres"
1,2018-03-26,168.07,173.10,166.44,172.77,2018-11-07,"Slower Chinese demand, Apple feud weigh on Qua..."
2,2018-03-23,168.39,169.92,164.94,164.94,2018-11-06,Asia Apple suppliers fall on report of weaker ...